In [ ]:
# Top 3 customers

SELECT customer_id,
sum(total_amount) as total
FROM orders
WHERE order_date BETWEEN "2025-04-01" AND "2025-04-30"
GROUP BY customer_id
ORDER BY total DESC
LIMIT 3;

In [ ]:
# Running total per employee
(Running totals require window functions)

SELECT employee_id,
work_date,
hours_worked,
SUM(hours_worked) OVER (
    PARTITION BY employee_id
    ORDER BY work_date
) AS running_hours

FROM timesheets;

In [ ]:
# LEFT (Anti Joins)
SELECT a.order_id
FROM orders as a
LEFT JOIN payments as b ON a.order_id = b.order_id
b.payment_id IS NULL;